.image-container{
    display: flex;
    .thumbnail-list img{
        display: block;
        margin-top: 20px;
        box-shadow: 2px 2px 5px gray;
        border-radius: 3px;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        -ms-border-radius: 3px;
        -o-border-radius: 3px;
}
    .main-image{
        margin-top: 20px;
        margin-left: 20px;
        img{
            border-radius: 3px;
            -webkit-border-radius: 3px;
            -moz-border-radius: 3px;
            -ms-border-radius: 3px;
            -o-border-radius: 3px;
}
    }
}