.container {
    font-family: Arial, sans-serif;
    color: #333;
    background-image: url('https://tokyolife.vn/images/newyear/bg_newyear_pc.png');


    .main {
        margin: 0 auto;
        max-width: 1200px;
        overflow: hidden;
        padding: 10px 20px;
    }
}