.order-details {
  padding: 20px;
  background: transparent;
  font-family: sans-serif;

  h1 {
    font-size: 24px;
    font-weight: 600;
  }
  .container-body {
    display: flex;
    gap: 20px;
    margin-top: 30px;
    .left-body{
        flex: 4;
        .grid-lane{
            display: flex;
            gap: 10px;
            margin-top: 20px;
        }
    }
    .right-body{
        flex: 2;
    }
  }
}
