.container {
  flex: 1;
  width: 100%;
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  min-width: 850px;
  min-height: 400px;

  .title {
    font-family: sans-serif;
    color: #222222;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 15px;
  }

  .tabs {
    display: flex;
    border-bottom: 2px solid #eee;

    .tab {
      padding: 10px 15px;
      cursor: pointer;
      color: #222222;
      transition: all 0.3s ease;

      &:hover {
        color: #c92127;
      }

      &.active {
        color: #c92127;
        border-bottom: 2px solid #c92127;
      }
    }
  }

  .content {
    margin-top: 20px;

    .reviewed-list {
      font-size: 16px;
      color: #333;
      padding: 10px;
      .null-review{
        text-align: center;
        align-items: center;
        padding-top: 50px;
        
      }
    }

    .pen {
      font-size: 18px;
      color: #666;
      padding: 10px;
      
      .null-order{
        text-align: center;
        align-items: center;
        padding-top: 50px;
        p{
          font-size: 12px;
        }
      }
    }
  }
}
